@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.foto{
    display: flex;
    justify-content: space-between;
    height: 29px;
    padding: 60px;
    margin-left: 90px;
}
.foto img {
    margin-left: 75px;
}
.zag {
    width: 299px;
    height: 45px;
    font-family: 'Quicksand', sans-serif;
    color: #3D4F9F;
}
.text {
    width: 50%;
    margin-left: 270px;
    margin-top: 207px;
}
.block2 button {
    margin: 0;
    margin-top: 35px;
}
.btn2 {
    width: 130px;
    height: 43px;
    margin-left: 20px;
    background: #4C85FF;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
}
.btn3 {
    width: 130px;
    height: 43px;
    color: #99a2c9;
    border: 1px solid #a2a9ca;
    background: none;
    border-radius: 2px;
}
.illustr {
    width: 50%;
}
.illustr img {
    width: 653px;
    height: 436px;
    margin-top: 207px;
}
.block2 {
    display: flex;
    justify-content: space-between;
    background-color: #F5F8FF;
}
.ap {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #828cb8;
}
.desk {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}