.block5 {
    padding-top: 104px;
    height: 840px;
}
.our {
    margin-left: 620px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}
.block5 h2 {
    margin: 0;
    margin-top: 20px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
}
.tochki {
    width: 40px;
    height: 7px;
    margin-left: 640px;
    margin-top: 101px;
}
.bl5_2 {
    width: 958px;
    height: 394px;
    display: flex;
    margin-left: 190px;
    margin-top: 92px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0px 15px 50px #EFF4FF;
}
.pol1 {
    width: 50%;
}
.pol1 img {
    width: 610px;
    height: 500px;
    margin: 0;
    margin-left: -70px;
    margin-top: -30px;
}
.pol2 {
    width: 50%;
}
.pol2 h1 {
    margin: 0;
    margin-top: 63px;
    margin-left: 20px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
}
.pol2 p {
    width: 408px;
    height: 116px;
    font-family: Roboto;
    margin-top: 32px;
    margin-left: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}
.pol2 button {
    margin-top: 30px;
}
.btn1 {
    width: 113px;
    height: 43px;
    margin-left: 20px;
    border: none;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    background: #D2E1FF;
    color: #3A79FF;
}
.btn2 {
    width: 211px;
    height: 43px;
    margin-left: 8px;
    border: none;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    background: #fff6f6;
    color: #A6B6DA;
}